body {
background-color: #333;
font-family: Arial;
font-size: 14px;	
padding-right: 0px;
padding-left: 0px;
padding-top: 0px;
padding-bottom: 0px;
margin: 0px;
}
p {
	color: #BC6A6B;
}
.topDiv {
background-color: #BC6A6B;
text-align:center;
border-bottom: 1px solid #BC6A6B;
height: 65px;
width: 100%;
/*padding-left: 10px;*/
}
/* Style the search input field. */
.field {
	position: fixed;
	width:500px;
	height:30px;
	line-height:27px;
	text-indent:10px;
	font-family:arial, sans-serif;
	font-size:1em;
	color:#333;
	background: #fff;
	border:solid 1px #d9d9d9;
	/*border-top:solid 1px #c0c0c0;*/
	/*border-right:solid 1px #c0c0c0;*/
	outline: none;
}

/* Style the "X" text button next to the search input field */
#delete {
	width:16px;
	height:29px;
	line-height:27px;
	margin-right:15px;
	padding:0 10px 0 10px;
	font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
	font-size:22px;
	background: #fff;
	border:solid 1px #d9d9d9;
	border-top:solid 1px #c0c0c0;
	border-left:none;
}
/* Set default state of "X" and hide it */
#delete #x {
	color:#A1B9ED;
	cursor:pointer;
	display:none;
}
/* Set the hover state of "X" */
#delete #x:hover {
	color:#36c;
}
/* Syle the search button. Settings of line-height, font-size, text-indent used to hide submit value in IE */
#submit {
	float:right;
	cursor:pointer;
	width:70px;
	height: 31px;
	line-height:0;
	font-size:0;
	text-indent:-999px;
	color: transparent;
	background: url(../img/ico-search.png) no-repeat #4d90fe center;
	border: 1px solid #3079ED;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
/* Style the search button hover state */
#submit:hover {
	background: url(../img/ico-search.png) no-repeat center #357AE8;
	border: 1px solid #2F5BB7;
}
/* Clear floats */
.fclear {clear:both}

.searchText {
	color:#AA5A6B;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:100;
}
a {
	color: #BC6A6B;
}
hr {
color: #e5e5e5;
width: 100%;
border: 1px solid #e5e5e5;
}
.url {
color: #D08504;
font-size:12px;	
}
.title {
	font-size:14px;
	color: #BC6A6B;	
}
.desc {
	font-size:12px;	
	color: #2AA07C;
}
#search_query {
padding-right: 50px;
padding-left: 50px;
padding-top: 0px;
padding-bottom: 0px;
}